body{
    margin: 0;
    background: url(./simple-background-backgrounds-passion-simple-1-5c9b95c5218ea.png) no-repeat center fixed;
}

li{
    display: inline;
}

.head{
    display: flex;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    padding: 2px 200px;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    animation: blinker 7s linear infinite;
    align-items: left;
    margin:0;
}

@keyframes blinker{
    60%{
        opacity: 1;
    }
}

li{
    display: inline;
}
.nav a{
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 0px 25px;
    text-decoration: none;
}

.nav{
    display: flex;
    justify-content: space-between;
    background: rgb(109, 105, 109);
    color: black;
    padding: 25px 50px;
}

.nav a:hover{
    background-color: rgb(109, 105, 109);
    color: rgb(84, 24, 140);
}

.head{
    background: transparent;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.box1{
    background-color: aliceblue;
    width: 300px;
    border: 15px violet;
    padding: 50px;
    margin: 20px;
}

.box2{
    background-color: aliceblue;
    width: 300px;
    border: 15px violet;
    padding: 50px;
    margin: 20px;
}

li{
    display: inline;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px 50px;
    font-size: 35px;
}