body{
    margin: 0;
    background:url(./tumblr_nu2rvuItT51rdph5fo1_540.gif) no-repeat center fixed;
    background-size: cover;
}

.head{
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    padding: 2px 200px;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    animation: blinker 15s linear infinite;
    align-items: left;
}

@keyframes blinker{
    60%{
        opacity: 0;
    }
}

.sidenav{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a, .dropdown-btn{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.sidenav a:hover, .dropdown-btn:hover{
    color: #f1f1f1;
}

.dropdown-container{
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

.fa-solid fa-bars{
    float: right;
    padding-right: 8px;
}

.active{
    background-color: green;
    color: white;
}